/********** General **********/
h1 {
    margin-top: 0;
}

/********** Header **********/
#header {
    padding: 20px 0;
}

    #header-upper {
        margin: 10px 0;
    }

        #header-date,
        #header-time {
            display: inline-block;
            margin-right: 20px;
        }

#logo-link {
    display: block;
    max-width: 128px;
    margin: 0 auto;
}

/********** Content **********/
/*** Sidebar ***/
/* User panel */
#user-panel-buttons .btn {
    margin-bottom: 4px;
}

/*** Game map ***/
#map-wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.map-full-screen #map-wrapper {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map {
    margin: 0 auto;
    max-width: 800px;
    height: 800px;
    overflow: scroll;
}

.map-full-screen #map {
    max-width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    #map {
        max-height: 600px;
    }
}

#map-overlay {
    max-width: 800px;
    height: 800px;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 100px 50px;
    font-size: 24px;
    opacity: 0.7;
    position: absolute;
    z-index: 9;
    width: 100%;
}

.map-full-screen #map-overlay {
    height: 100%;
    max-width: 100%;
}

    .map-row {
        height: 64px;
    }

    .map-tile {
        position: relative;
        width: 64px;
        height: 64px;
        color: #fff;
        display: block;
        float: left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .map-tile.map-tile-unknown {
        background-color: #000;
    }

    .map-tile.map-tile-center {
        border: 1px dotted #fff;
    }

    .map-tile.map-tile-selected,
    .map-tile.map-tile-building-tiles {
        border: 1px dotted #5cb85c;
    }

    .map-tile.map-tile-building-tiles.map-tile-occupied {
        border: 1px dotted #d9534f;
    }

    .map-tile:hover {
        opacity: 0.8;
    }

        .map-tile-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #fff;
            display: none;
            opacity: 0.25;
        }

        .map-tile.map-tile-current-town .map-tile-overlay {
            display: block;
            background-color: #337ab7;
        }

/* Map - Construct building */
#map-construct-building {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

    #map-construct-building-content {
        background: rgba(0, 0, 0, 0.8);
        width: 128px;
        margin-left: -128px;
        overflow-y: scroll;
        height: 800px;
    }

    .map-full-screen #map-construct-building-content {
        height: 100%;
    }

    #map-construct-building-content h5 {
        margin-top: 0;
        color: #fff;
    }

    #map-construct-building.open #map-construct-building-content {
        margin-left: 0;
    }

        #map-construct-building-content-building-types {
            padding: 10px;
        }

            #map-construct-building-content-building-types a {
                color: #fff;
            }

            #map-construct-building-content-building-types a:hover,
            #map-construct-building-content-building-types a:focus {
                color: #337ab7;
            }

            #map-construct-building-content-building-types .active a {
                color: #fff;
            }

        #map-construct-building-content-buildings h5 {
            margin: 0 10px;
        }

        #map-construct-building-content .building {
            position: relative;
            color: #fff;
            text-align: center;
            width: 112px;
            min-height: 96px;
            padding: 8px;
            margin: 8px;
        }

        #map-construct-building-content .building-overlay {
            padding: 20px 10px;
            font-size: 12px;
        }

            #map-construct-building-content .building h4 {
                margin: 0 0 10px;
                font-size: 14px;
            }

            #map-construct-building-content .building p {
                font-size: 10px;
            }

    #map-construct-building-handle {
        text-align: center;
        padding: 22px 5px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        height: 64px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        margin-top: -32px;
        margin-left: 0;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #map-construct-building.open #map-construct-building-handle {
        margin-left: 128px;
    }

/* Map - Controls */
#map-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

    #map-controls form {
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
    }

    #map-controls form .form-group {
        margin-bottom: 0;
    }

    #map-controls form .form-control {
        height: 20px;
        font-size: 10px;
    }

    #map-controls form .input-group-addon {
        font-size: 12px;
        padding: 2px 8px;
    }

    #map-controls form .btn {
        padding: 0 10px;
    }

/* Map - Full screen toggle button */
#map-full-screen-mode-toggle-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

/*** Building ***/
.building-wrapper {
    position: relative;
    margin: 0 0 20px;
    padding: 10px;
}

.building-overlay {
    opacity: 0.8;
    padding: 30px 10px;
    text-align: center;
    background: #000;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 18px;
}

.building.media .media-object {
    max-width: 64px;
    margin-right: 20px;
}

/*** Town Sidebar ***/
#town-sidebar {
    padding: 10px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

    #town-sidebar h3 {
        margin-top: 0;
    }

    #town-sidebar table {
        margin-bottom: 0;
    }

/********** Fixes **********/
/*** Popover fix ***/
.popover {
    max-width: 100%;
}
