#header {
    padding: 20px 0;
}

    #header-upper {
        margin-bottom: 10px;
    }

        #header-date,
        #header-time {
            display: inline-block;
            margin-right: 20px;
        }

#logo-link {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

/*** Game map ***/
#map-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

#map {
    margin: 0 auto;
    max-width: 800px;
    max-height: 800px;
    overflow: scroll;
    padding-top: 1px;
    padding-left: 1px;
}

@media screen and (max-width: 767px) {
    #map {
        max-height: 600px;
    }
}

    .map-row {
        height: 64px;
        width: 2079px; /* To-Do */
    }
    
    .map-tile {
        position: relative;
        width: 64px;
        height: 64px;
        border: 1px dotted #666;
        color: #fff;
        display: block;
        float: left;
        margin-top: -1px;
        margin-left: -1px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .map-tile.map-tile-current {
        border-color: #fff;
        z-index: 1;
    }
    
    .map-tile.map-tile-unknown {
        background-color: #000;
    }
    
        .map-tile-hover-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.2;
            background-color: #fff;
            display: none;
        }
        
        .map-tile:hover .map-tile-hover-overlay {
            display: block;   
        }

/*** Fixes ***/
/* Popover fix */
.popover {
    max-width: 100%;
}
