{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>{{ 'Users' | trans }}</h1>
    <div id="main-content">
        {% include 'contents/game/_parts/users-list.html.twig' %}
    </div>
{% endblock %}
