<div id="map-controls"
    class="text-center">
    <form>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">X</span>
                        <input id="map-controls-x"
                            class="form-control input-sm"
                            name="x"
                            value="{{ centerX }}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Y</span>
                        <input id="map-controls-y"
                            class="form-control input-sm"
                            name="y"
                            value="{{ centerY }}" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <button class="btn btn-block btn-success btn-sm"
                    type="submit">
                    {{ 'Go' | trans }}
                </button>
            </div>
        </div> <!-- /.row -->
    </form>
</div> <!-- /#map-controls -->
