<div class="panel panel-default text-left">
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    <b>{{ country.getName() }}</b>
                </h4>
                {{ 'Towns' | trans }}:
                <b>{{ country.getTowns() | length }}</b>
            </div>
        </div>
    </div>
</div>
