<div id="planets-panel"
    class="panel panel-default">
    <div class="panel-heading">
        {{ 'Planets' | trans }}
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            {{ 'Total' | trans }}
            <span class="badge">
                {{ app['orm.em'].getRepository('Application\\Entity\\PlanetEntity').countAll() }}
            </span>
        </li>
    </ul>
</div> <!-- /#countries-panel -->
