{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <div id="main-content">
        <div class="row">
            <div class="col-md-4">
                <h2>{{ 'Users' | trans }}</h2>
                <p>To-Do</p>
            </div>
            <div class="col-md-4">
                <h2>{{ 'Countries' | trans }}</h2>
                <p>To-Do</p>
            </div>
            <div class="col-md-4">
                <h2>{{ 'Towns' | trans }}</h2>
                <p>To-Do</p>
            </div>
        </div>
    </div>
{% endblock %}
