{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>{{ 'Statistics' | trans }}</h1>
    <div id="main-content">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                {% include 'contents/game/statistics/_users-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                {% include 'contents/game/statistics/_towns-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                {% include 'contents/game/statistics/_countries-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                {% include 'contents/game/statistics/_planets-panel.html.twig' %}
            </div> <!-- /.col-md-3 -->
        </div>
    </div>
{% endblock %}
