{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ 'Messages' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Messages' | trans }}</h1>
    To-Do
{% endblock %}
