{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <div id="main-content">
        Nothing much will be visible here.
        Maybe some minor statistics or someting ...
    </div>
{% endblock %}
