{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>{{ 'Dashboard' | trans }}</h1>
    <div id="main-content">
        <h2>{{ 'My towns' | trans }}</h2>
        {% if app.user.getTowns()  %}
            {% include 'contents/game/_parts/towns-list.html.twig' with { towns: app.user.getTowns() } %}
        {% else %}
            <div class="alert alert-info">
                {{ 'You do not have any towns yet!' | trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}
