{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <div class="row text-center">
        <div class="col-md-12">
            <h1>{{ app.name }}</h1>
            <div id="main-content">
                THE GAME!!!
            </div>
        </div>
    </div>
{% endblock %}
