{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>{{ 'Premium' | trans }}</h1>
    <div id="main-content">
        Premium stuff
    </div>
{% endblock %}
