{% set tileResources = tile.getTileResources() %}
<h5>{{ 'Resources' | trans }}:</h5>
<ul class="list-unstyled">
    {%- for tileResource in tileResources -%}
        <li>
            <span>- {{ tileResource.getResource() | humanize | trans }}&nbsp;</span>
            <small>{{ tileResource.getAmountPercentage() }}%</small>
        </li>
    {%- endfor -%}
</ul>
