{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>
        {{ 'Map' | trans }}
    </h1>
    <div id="main-content">
        <h3>{{ 'Select the planet' | trans }}:</h3>
        <div class="row">
            {% for planet in planets %}
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block"
                        href="{{ url('game.map.detail', { id: planet.getId() }) }}">
                        {{ planet }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
